<div class="row">
    <h1>Kanban Cloud</h1>
    <div class="column">
      <jqxKanban #kanban [width]="getWidth()" [height]="500" [source]="dataAdapter" [columns]="columns" [resources]="resourcesAdapterFunc()"></jqxKanban>
      <br />
      <jqxButton *ngIf="submitted" (onClick)="addItemBtnOnClick()">Add Item</jqxButton>
    </div>
    <div class="column">
        <div class="container">
            <div *ngIf="!submitted">
              <h1>New Card</h1>
              <form [formGroup]="newCardForm" (ngSubmit)="onSubmit(newCardForm.value)">

                <div>
                  <label for="name">
                    Task Name
                  </label>
                  <input id="name" type="text" formControlName="name">
                </div>
                <br />
                <div>
                  <label for="tag">
                    Tag
                  </label>
                  <input id="tag" type="text" formControlName="tag">
                </div>
              
                <button class="button" type="submit">Create</button>
              
              </form>
              
            </div>
          
          </div>
    </div>
</div>

<br />